body {
	background-color: gray;
  margin: 0;
  width: 100%
}
nav {
  background-color: #333;
}
a {
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
a:hover {
  background-color: black;
}
img {
	display: none;
}
@media screen and (max-width: 600px) {
  a {
    display: block;
    clear: both;
    border: 1px solid black;
  }

	@media screen and (max-width: 480px) {
	  a {
	    display: none;
	  }
		img {
			display: block;
			float: left;
			height: 3em;
		}
		nav {
			width: 100%;
			height: 3em;
		}

}
